.close-span{
 padding: 5px;
 background-color: blue;
 color: white;
 border-radius: 2px;
 font-size: 12px;
 position: relative;
 padding-left: 10px;
 margin-right: 5px;
}

.mat-icon{
    position: absolute;
    top: 5px;
    font-size: 10px;
    left: 0px;
    cursor: pointer;
}

.mat-input{
    height: 20px;
    padding: 15px;
}
.span-wrapper{
    margin-bottom: 10px;;
}

.container{
    width: 50%;
    margin:0 auto;
}

.mat-card{
    border: 1px solid black;
    width: 33%;
    margin: 10px;
}
.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.disableChooseColor{
    pointer-events: none;
}
.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 10px;
  }


::ng-deep .mat-option .mat-pseudo-checkbox{ display: none; }